<div id="footer">
    <div class="dclear"/>
    <span class="left">made by <strong>Malte Schilling</strong> with <span style="color: red;">&heartsuit;</span> and <a href="https://gcc.gnu.org/">gcc</a>.</span>
    <a href="#">Back to Top.</a>
    <span class="right">
        <abbr title="The displayed date is not necessarily the date, the content was changed last. It could also be changes inside for instance the navbar or the footer.">
            Last changed: 
        </abbr>
        __DATE__
    </span>
</div>